.default {
    width: 55rem;
    height: 55rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
}

.default-inside {
    border-radius: 0.5%;
    width: 93%;
    height: 93%;
    box-shadow: inset 0px 0px 8px 6px rgba(0, 0, 0, 0.229);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

img#qr-code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}