.default {
    width: 55rem;
    height: 55rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
}

.default-inside {
    border-radius: 1.4rem;
    width: 95%;
    height: 95%;
}