.default:active {
    transition: 0.2s;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.40);
}

.default {
    background-color: #c1c1c1;
}

.control {
    display: flex;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
}

.arrows {
    height: 40rem;
    width: 40rem;
    display: flex;
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

@media(max-height: 520px) {
    .arrows {
        height: 25rem;
        width: 25rem;
    }

    .default {
        height: 8rem;
        width: 8rem;
    }
}

@media(max-width: 520px) {
    .arrows {
        height: 50%;
        width: 25rem;
    }

    .default {
        height: 8rem;
        width: 8rem;
    }
}

.vertical-btns {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);
}

.horizontal-btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shot {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(orientation: portrait) {
    .control {
        flex-direction: column;
    }
    .shot {
        width: 100%;
        height: 50%;
    }
}

.counting {
    font-size: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c1c1c1;
}