@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html{
    font-size: 62.5%;
    font-family: Silkscreen;
}

body, html, * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #414141;
    height: 100vh;
    width: 100vw;
}

.default {
    width: 13rem;
    height: 13rem;
    background-color: #2c2c2c;
    border-radius: 1rem;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-inside {
    height: 90%;
    width: 90%;
    background-color: #c1c1c1;
    border-radius: 0.7rem;
    box-shadow: 0px 0px 12px 6px rgba(217, 217, 217, 0.2);
}
